*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #ffffff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px; 
    background-color: #6e7d6d;                
}

h1{
    font-size: 50px;
}


li{
    list-style-type: none;
    float: left;
    margin: 30px ;
    font-size: 150;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

a:hover {
    color: #8c9488;  
}

/* Active link (the one you're currently on) */
a.active {
    color: #546e4c; 
}

footer{
    background-color: #6e7d6d;
}
